//rule created automatically with crits intelligence
rule TEMPLATE_RULE_NAME
{
    meta:
        author = "CRITS Export"
        mime_type = "application/x-shockwave-flash"
        file_ext = "swf,cwf,as,actionscript,fla,flv,swt,swc"
    strings:
TEMPLATE_STRINGS
    condition:
        any of them
}
